@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #eeebe5;
}

.myImg {
  border-radius: 61% 39% 50% 50% / 69% 59% 41% 31%;
}

.hoverCard {
  visibility: hidden;
  position: absolute;
  bottom: -3em;
  opacity: 0;
  transition: all 0.5s ease;
}

.projectContainer:hover .hoverCard {
  visibility: visible;
  bottom: 5%;
  opacity: 1;
}

a{
  cursor: pointer;
}